name: Unit tests

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout repo
        uses: actions/checkout@v2
      -
        name: Run tests
        run: docker-compose -f test.docker-compose.yml up --exit-code-from=test-app --build
